#lang-toggle {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-weight: 600;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 16px;
    background-color: #ffffff;
    color: #dc3545;
    border: 2px solid #dc3545;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    transition: all 0.3s ease;
}

#lang-toggle:hover {
    background-color: #dc3545;
    color: #fff;
    transform: scale(1.1);
}